/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(#2b1055, #7597de);
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: 100vh;

}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
    height: 80%;
    background-size: cover;
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    height: calc(100vh - 60px);
    /* border: 3px solid #555555; */
}

.barra-navegacion ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}

.barra-navegacion .logo { 
    color:#857499;
    font-size: 50px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .5s ease;
}

.barra-navegacion a:hover {
    border-bottom: 1px solid currentcolor;
    background: #fff;
    color:#2b1055;
    border-radius: 25px;
}

.contenido-descripcion {
    width: 60%;
    display: flex;
    height: 80%;
    align-items: center;
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 50px; 
    display: block;
    font-weight: 300;
}

.contenido-descripcion .titulo span:last-child {
    font-weight: 900;
    font-size: 75px;
}

.contenido-descripcion .btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    background:#857499;
    color: #fdfdfd;
    border: 1px solid #555555;
    animation: parpadeo 2s alternate infinite;
    transition: .7s ease;
}

.contenido-descripcion .btn-link:hover {
    border: 1px solid #2b1055;
    animation: none;
}

.footer{
    height: 10%;
    display: flex;
    
    
}
.footer ul {
    align-items: center;
    margin: auto;
    padding: 10px;
    list-style: none;
    justify-content: space-between;
   

}
.footer ul li{
    font-size: 30px;
    margin: 30px;
    display: inline-block;
    
}


@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    50% { 
        opacity: .8; 
    }
    100%{
        opacity: .5;
    }
}


@media screen and (max-width: 400px){
    body{
        background-repeat: no-repeat;
        height: 100vh;
    }
    .barra-navegacion .logo { 
        color:#857499;
        font-size: 30px;
    }
    .barra-navegacion a {
        font-size: 13px;
    }
    .barra-navegacion ul {
        flex-direction: column;
        margin: 10px;
    }
    .contenido-descripcion .titulo span:first-child {
        font-size: 30px;
        display: flex;

    }
    .contenido-descripcion .titulo span:last-child {
        font-size: 40px;
    }
    .footer ul li{
        display:list-item
    
    }
    .descripcion{
        font-size: 15px;
    }
    
}